
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Project.Models.EditProductCategoryModels

<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">THÊM MỚI LOẠI SẢN PHẨM</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item active">Người dùng</li>
                <li class="breadcrumb-item active">Danh sách</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <div class="card mb-3">

            <div class="card-header">
                <span class="pull-right">
                    <button class="btn btn-primary btn-sm" onclick="EditProductCategory()">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Thêm ngay
                    </button>
                    <button class="btn btn-primary btn-sm" id="btnEditEmageProductCategory">
                        <i class="fa fa-caret-square-o-down bigfonts" aria-hidden="true"></i> Chọn ảnh
                    </button>
                </span>
            </div>
            <!-- end card-header -->
            <!-- <div class="card-bodycard-body"> -->

            <div class="container-fluid mt-3 card-body">
                <form id="FormEdit_ProductCategory">
                    <input value="@Model.ID" type="hidden" />
                    <div class="row ">

                        <div class="card col-md-12 col-12 col-sm-12 col-lg-12 col-xl-4 pr-1">
                            <div class="card-header card_header">
                                HÌNH ẢNH LOẠI SẢN PHẨM
                            </div>
                            <div class="card-body">
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="w-100 h-25 pl-2 pr-2" id="ImageEditProductCategory">
                                            <img src="@Model.Image" style="width: 100%; height: 100%;" title="Hình Ảnh Sản Phẩm">
                                        </div>

                                    </div>


                                </div>

                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="hidden" name="image" value="@Model.Image" id="txtEditImageProductCategory" />
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <input class="form-control" name="AltImage" type="text" placeholder="Mô tả hình ảnh" id="txtEditAltImageProductCategory" value="@Model.AltImage"  title="Giới thiệu hình ảnh"/>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="card  col-md-12 col-12 col-sm-12 col-lg-12 col-xl-4  pr-1">
                            <div class="card-header card_header">
                                THÔNG TIN LOẠI SẢN PHẨM
                            </div>
                            <div class="card-body">
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="Name" type="text" placeholder="Tên loại sản phẩm" id="txtEditProductCategoryName" value="@Model.Name" title="Tên loại sản phẩm" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <select name="ParentID" class="form-control" id="txtEditProductCategoryParentId" title="Chọn danh mục cha cho loại sản phẩm (Có thể không cần chọn)">
                                            <option value="">Chọn nhóm loại sản phẩm -</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" value="@Model.DisplayOrder" name="DisplayOrder" type="number" placeholder="Thứ tự hiển thị" id="txtSeachNameUser"  title="Thứ tự hiển thị cho loại sản phẩm"/>
                                    </div>
                                </div>


                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        @if (Model.ShowOnHome == true)
                                        {
                                            <select name="ShowOnHome" class="form-control" required id="txtEditProductCategoryParentId" title="Cho phép loại sản phẩm có thể hiển thị lên trang chủ">
                                                <option value="true" selected>hiển thị lên trang chủ  </option>
                                                <option value="false">không hiển thị lên trang chủ </option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select name="ShowOnHome" class="form-control" required id="txtEditProductCategoryParentId">
                                                <option value="true">hiển thị lên trang chủ  </option>
                                                <option value="false" selected>không hiển thị lên trang chủ </option>
                                            </select>
                                        }

                                    </div>

                                </div>

                                <div class="row col-12">
                                    <div class="col-12 col-xl-6 col-sm-12 col-md-6 col-lg-6  pr-0">
                                        <div class="form-group">
                                            <Label>Ngảy Tạo</Label>
                                            <input class="form-control" name="MetaDescriptions" value="@Model.GetStringCreateDate()" type="text" placeholder="Meta Description" id="txtSeachNameUser" readonly="false"/>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6 col-sm-12 col-md-6 col-lg-6 pr-0">
                                        <div class="form-group">
                                            <label>Người tạo</label>
                                            <input class="form-control" name="MetaDescriptions" value="@Model.CreatedBy" type="text" placeholder="Meta Description" id="txtSeachNameUser"  readonly="false"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card col-md-12 col-12 col-sm-12 col-lg-12 col-xl-4 pl-1">
                            <div class="card-header card_header">
                                THÔNG TIN SEO LOẠI SẢN PHẨM
                            </div>
                            <div class="card-body">
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="MetaTitle" value="@Model.MetaDescriptions" type="text" placeholder="Meta Title" id="txtSeachNameUser" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="SeoTitle" value="@Model.SeoTitle" type="text" placeholder="Seo Title" id="txtSeachNameUser" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="MetaKeywords" value="@Model.MetaKeywords" type="text" placeholder="Meta KeyWord" id="txtSeachNameUser" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">

                                        <input class="form-control" name="MetaDescriptions" value="@Model.MetaDescriptions" type="text" placeholder="Meta Description" id="txtSeachNameUser" />
                                    </div>
                                </div>
                                <div class="row col-12">
                                    <div class="col-12 col-xl-6 col-sm-12 col-md-6 col-lg-6  pr-0">
                                        <div class="form-group">
                                            <Label>Ngày cập nhập</Label>
                                            <input class="form-control" name="MetaDescriptions" value="@Model.GetStringModifierDate()" type="text" placeholder="Meta Description" id="txtSeachNameUser"   readonly="false"/>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6 col-sm-12 col-md-6 col-lg-6 pr-0">
                                        <div class="form-group">
                                            <label>Người cập nhập</label>
                                            <input class="form-control" name="MetaDescriptions" value="@Model.ModifiedBy" type="text" placeholder="Meta Description" id="txtSeachNameUser" readonly="false"/>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                

                            </div>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="card col-md-12 pr-1">
                            <div class="card-header card_header">
                                BÀI VIẾT GIỚI THIỆU LOẠI SẢN PHẨM
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="Descriptions" id="txtEditDescriptionProductCategory" value="@Model.Descriptions" />
                                <textarea id="txtEditDescriptionProductCategoryCkeditor" class="txtEditDescriptionProductCategoryCkeditor ckeditor">@Html.Raw(Model.Descriptions)</textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
        <!-- end card-body -->

    </div>
    <!-- end card -->

</div>

<script type="text/javascript">
    CKEDITOR.replace("txtEditDescriptionProductCategoryCkeditor");
    CKFinder.setupCKEditor(null, '/ckfinder');
</script>

@*<div>
        <input id="txtimage " class="form-control pt-4" />

    </div>*@
